<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Tourism Flask/1.css">
</head>
<body>
    
<div class="wrapper">
  <div class="review"><h1>Our Happy Clients</h1></div>
   <div class="cols">
    <article class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container3">
            <div class="front" style="background-image: url(/static/image/rev1.jpg)">
                <div class="inner">
                    <p>Kokki Kumar</p>
                    <span class="star-rating1">⭐⭐⭐⭐</span>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <p>We planned a trip to Thailand and Habibi Holidays were the best who made the holidays far better than we expected. we were given enough care.The hotels they arranged was quite good. </p>
                </div>
            </div>
        </div>
    </article>
  </div>
  </div>
</body>
</html>