<html>
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<title>Login form</title>
<body>
    <h2>Admin Login form</h2>
    <form method="POST" action="/admin">
        <label for="username">Enter Email-id:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Submit" ></form>
        <form><button type="submit" formaction="/">Back</button><br><br></form>
        
    {% endblock %}
</body>
</html>